<!-- <html>
  <head>
    <title>New Booking page</title>
  </head>
  <body>
    <h1>New Booking</h1>
    <form method="POST">
      Title: <br/>
      <input type="text" name="title" required/> <br/>
      Description: <br/>
      <input type="text" name="description" required/> <br/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
 -->