<html>
  <head>
    <title>Edit Listing page</title>
    <script src="/static/scripts/nested_level.js"></script>
  </head>
  <body class="mainApp margin-reset">
    <% include ./nav %>
    <h1>Edit Listing</h1>
    <form method="POST">
      Title: <br/>
      <input type="text" name="title" value="<%= title %>" required/> <br/>
      Description: <br/>
      <input type="text" name="description" value="<%= description %>" required/> <br/>
      <button type="submit">Submit</button>
    </form>
  </body>
  <% include ./feature_script %>
</html>
