<html>
  <head>
    <title>Log In</title>
    <% include ./head %>
  </head>

  <body class="mainApp margin-reset">
    <% include ./nav %>

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class=" ma-box">
        <div class="ma-box__title">Log In</div>
        <div class="ma-box__content">
            <form class="ma-form ma-form--basic" method="POST">

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" placeholder="Email" class="ma-input ma-input--default" name="email" required/>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" class="ma-input ma-input--default" name="password" required/>
              </div>

              <button class="ma-btn ma-btn--small ma-btn--primary-without-bg ma-btn--block" type="submit">Log In</button>
            </form>
          <%if (message) { %>
            <p class="ma-label ma-label--simple ma-label--simple--primary ma-label--simple--default">
              <%= message %>
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <% include ./feature_script %>
</html>
